* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    background-color: #192a56;
}

.container-player {
    max-width: 1200px;
    height: 400px;
    margin: 40px auto;
    /* background: white; */
    display:flex;
    /* flex-wrap: wrap */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 13px 10px rgba(0,0,0,0.21);
  }
  
  #mediaPlayer {
    position: relative;
    width: 60%;
    height: 100%;
    /* background: red; */
    display:flex;
    justify-content:center;
  }
  
  #controls {
      position: absolute;
      width:100% ;
      height: 12%;
      bottom: 0px;
      color: white;
      opacity: 7;
      background: rgba(0,0,0,0.4);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      /* padding: 5px 10px;   */
  }

  #controls > button {
    outline: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }

  #progressBar {
      height: 5px;
      width: 70%;
      display: flex;
      background:white;
      border-radius: 30px;
      overflow: hidden;
  }

  #progressBar > #progress {
    height: 100%;
    width: 0%;;
    background: #00a8ff;;
  }
  #media-video {
    width: 100%;
    height: 100%;
  }
  
  #playlist {
    width: 41%;
    height: auto;
    padding: 0 10px;
    background: white;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .video {
    width: 100%;
    height: 70px;
    /* background:#273c75; */
    display:inline-block;
    display:flex;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
  }
  
  .video-imagen {
    width:30%;
    height: 100%;
    /* background-color: black; */
  }
  
  .video-imagen > img {
    height: 100%;
  }
  
  .video-information {
    width: 60%;
    height: 100%;
    /* background: red; */
  }

  .playing {
      background-color: #00a8ff;
      color: white;
  }


/** Spinneer*/
.lds-ring {

    display: inline-block;
    position: absolute;
    top: 40%;
    width: 64px;
    height: 64px;
    z-index: 100000;;
    
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* scroll bar configuration */

  #playlist::-webkit-scrollbar {
    width: 4px;
    background-color: gray;;
  }

  #playlist::-webkit-scrollbar-thumb {
    width: 3    px;
    background-color:transparent;;
  }

  #playlist::-webkit-scrollbar-track {
    width: 4px;
    background-color: transparent;
  }


  media-video::-webkit-media-controls {
    display:none !important;
  }

  
media-video::-webkit-media-controls-overlay-enclosure {
    display:none !important;
}

media-video::-webkit-media-controls-enclosure {
    display:none !important;
}

video::-webkit-media-controls {
    display:none !important;
}

  /* 650 */

  @media only screen and (max-width: 650px) {
    .container-player {
        flex-wrap: wrap;
        height: auto;;
    }
    #mediaPlayer {
        width: 100%;
    }

    #playlist  {
        width: 100%;
    }

}